%h1 Editing trip

= render 'form'

= link_to image_tag( '/images/Button_show.png', :alt => "Anzeigen", :height => "20"), @trip
\|
= link_to image_tag( '/images/Button_back.png', :alt => "Zurück", :height => "20"), trips_path
