/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require "normalize"
 *= require_self
 *= require_tree .
*/
/*	=============================================================================
		Farbcodes
		========================================================================== */	 
@import "variables";
$bg_color1: #FFEFCF;
//$bg_color1: #BBBBBB;
//$font_color: black;
//$bg_color2: lighten($bg_color1, 90%);
$bg_color2: white;

/* =============================================================================
	 General settings in application.css.scss
	 ========================================================================== */
body {
	background-color: #FFFFFF;
	//color: #333333;
	color: black;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

p, ol, ul, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

pre {
	background-color: #EEEEEE;
	padding: 10px;
	font-size: 11px;
}

/* =============================================================================
	 Links
	 ========================================================================== */
a {
	text-decoration: none;
	//color: #000000;
	color: #0000FF;
	&:visited {
	//	color: #666666;
	//	color: #122F4F;
		color: #0000FF;
	}
	&:hover {
		color: black;
		text-decoration: underline;
	//	background-color: #000000;
	}
}

/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
		outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
		outline: 0;
}





textarea {
//	width: 300px;
//	height: 6em;
	resize: none;
}
label {
	font-weight: bold;
}
.form_table_left {
	padding: 5px;
	vertical-align: top;
	width: 100px;
}
.form_table_right {
	text-align: right;
	padding: 5px;
	vertical-align: top;
}
body {
	margin: 0;
	width: 100%;
}
.container {
//	margin-left: 10em;
//	margin-right: 10em;
	width: 1000px;
	margin: auto;
	height: 800px;
	background:-moz-linear-gradient(top, $bg_color1, $bg_color2); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from($bg_color1), to($bg_color2)); /* Safari, Chrome */
	background:-webkit-linear-gradient(top, $bg_color1, $bg_color2); /* Safari, Chrome - neue Syntax! */
	background:-o-linear-gradient(top, $bg_color1, $bg_color2); /* Opera */
	background:-ms-linear-gradient(top, $bg_color1, $bg_color2); /* IE */
	background:linear-gradient(top, $bg_color1, $bg_color2); /* W3C Standard */
}
#main {
	position: relative;
	z-index: 0;
	margin-left: 3em;
	margin-right: 3em;
	margin-top: 2em;
	margin-bottom: 2em;
	.other-site {
		position: absolute;	
		left: 0;
		width: 70%;
		text-align: right;
		//margin-top: -2.5em;
		a:last-child {
			margin-right: 1em;
		}
	}
	.form_table {
		background-color: $table_bg_color1;
		border: solid 2px;
	}
}


header {
	font-family:	Arial, Gadget, sans-serif;
	font-weight: bolder;
	color: black;
	background: darken($bg_color1,10%);
	text-shadow: #222222 1px 1px 3px;
	background: -webkit-raidal-gradient( darken($bg_color1, 10%), $bg_color2);
}


/* =============================================================================
	 Navigation bar
	 ========================================================================== */
$nav_border_color_1: #222222;
$nav_border_color_2: #999999;
$nav_font_color: #EEEEEE;
$nav_bg_color: #6A6A6A;
nav {
	z-index: 1;
	background-color: $nav_bg_color;
	display: block;
	margin: 0;
	border:1px solid $nav_border_color_1;
	position: relative;
	font-size: 16px;
	font-weight: bold;
	ul {
		margin: 0;
		padding: 0;
		&:after {
			content: ".";
			height: 0;
			clear: both;
			display: block;
			visibility: hidden;
		}
		li {
			min-width: 120px;
			position: relative;
			float: left;
			list-style-type: none;
			text-align: center;
			a {
				display: block;
				padding: 10px 20px;
				border-left: 1px solid $nav_border_color_2;
				border-right: 1px solid $nav_border_color_1;
				text-decoration: none;
				text-shadow: black 1px 1px 1px;
				&:focus {
					outline: none;
					text-decoration: underline;
				}
				&:link, &:visited {
					color: $nav_font_color;
				}/*
				&:hover {

					-webkit-animation-name: abutton;
					-webkit-animation-duration: 1s;
					-webkit-animation-iteration-count: 1;
					-webkit-animation-direction: alternate;
					-webkit-animation-timing-function: ease-in;
				}*/
			}
		}
		li:first-child a {
			border-left: none;
		}
		li:last-child a {
			border-right: none;
		}
	}
}
.cssgradients nav {
	background: -moz-linear-gradient(0% 22px 90deg, $nav_border_color_1, $nav_border_color_2);
	background: -webkit-gradient(linear, 0% 0%, 0% 70%, from($nav_border_color_2), to($nav_border_color_1));
//	background: -webkit-linear-gradient(90deg, $nav_border_color_1, $nav_border_color_2);
}
.cssgradients nav li:hover {
	background: -moz-linear-gradient(0% 100px 90deg, $nav_border_color_2, $nav_border_color_1);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($nav_border_color_1), to(#555));
//	background: -webkit-linear-gradient(90deg, $nav_border_color_2, $nav_border_color_1);
}
.boxshadow.rgba nav {
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.75);
}

/* =============================================================================
	 notices
	 ========================================================================== */
#flash_notice, #flash_alert {
	padding: 5px 8px;
	margin: 0em;
}
#flash_notice {
	background-color: #CFC;
	border: solid 1px #6C6;
}
#flash_alert {
	background-color: #FCC;
	border: solid 1px #C66;
}
#notice {
	color: green;
}
.field_with_errors {
	padding: 2px;
	background-color: red;
	display: table;
}
#error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	h2 {
		text-align: left;
		font-weight: bold;
		padding: 5px 5px 5px 15px;
		font-size: 12px;
		margin: -7px;
		margin-bottom: 0px;
		background-color: #c00;
		color: #fff;
	}
	ul li {
		font-size: 12px;
		list-style: square;
	}
}
