/// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cars {
  .cars_index_table {
    width: 100%;
  }
  .cars_index_top {
    tr:first-child {
      td {
        width: 100%;
      }
      td:first-child{
        text-align: left;
        font-size: 20pt;
      }
      td:last-child{
        text-align: left;
        padding-right: 5px;
        width: 10px;
      }
    }
  }
  .cars_index_bot {
    width: 100%;
    tr {
      background-color: #DDDDDD;
      td {
        
        text-align: center;
        border-style: solid;
        padding: 0.1em 0.5em 0.1em 0.5em;
      }
    }
    tr:nth-child(2n+1) {
      background-color: #AAAAAA;
    }
    tr:first-child {
      background-color: #777777;
      font-weight: bold;
      border-bottom: 1px solid;
    }
  }
  .cars_show_index {
    width: 100%;
    td:first-child {
      width: 50%;
      height: 10%;
    }
    tr:first-child{
      .head {
        width: 100%;
        border-bottom: 1px solid;
        font-size: 20pt;
        height: 1.3em;
      }
    }
  }
  .cars_show_left {
    background-color: #DDDDDD;
    height: 100%;
    width: 100%;
    position: relative;
    tr:nth-child(2n+1){
      background-color: #AAAAAA;
    }
    td:first-child {
      text-align: left;
      font-weight: bold;
    }
    td:last-child {
      text-align: left;
    }
  }
  .cars_show_right {
    text-align: right;
  }
}

@-webkit-keyframes resize {
  from { height: 40px; width: 40px;}
  to{ height: 40px; width: 40px;}
}



