// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
body.requests {
  // Add the requests class to your body tag
  // Then, place scoped styles here.

  h4{
    padding: 5px;
    text-decoration:underline;
  }

  td{
    vertical-align:top;
    padding: 5px;
  }
  tr{
    padding: 10px;
  }
  th{
    padding: 10px;
  }

  .left{
    font-weight: bold;
  }
  .index_table{
    padding:10px;
  }

  .index_table_second{
    border:solid 1px;
    &:nth-child(2n){
      background-color: $table_bg_color1;
    }  
    &:nth-child(2n+1){
      background-color: $table_bg_color2;
    }

    td{
      border:solid 1px;
      text-align: center;
    }
  }
  .index_table_first{
    border: solid 2px;
    background-color: $table_bg_color0;
    td{
      font-weight: bold;
      border:solid 2px;
      text-align:center;
    }
  }
}
