// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
body.requests {
  // Add the requests class to your body tag
  // Then, place scoped styles here.
  .head{
    width:70%;
  }
  .links{
    text-align: left; 
  }
  .rechts{
    text-align: right;
  }
  h4{
    padding: 5px;
    text-decoration:underline;
  }

  td{
    vertical-align:top;
  }

  .left{
    font-weight: bold;
  }
  .index_table{
    border: solid 2px;
    width: 100%;
  }

  .index_table_second{
    border:solid 1px;
    &:nth-child(2n){
      background-color: $table_bg_color1;
    }  
    &:nth-child(2n+1){
      background-color: $table_bg_color2;
    }

    td{
      border:solid 1px;
      text-align: center;
    }
  }
  .index_table_first{
    background-color: $table_bg_color0;
    border: solid 2px;
    td{
      border: solid 1px;
      font-weight: bold;
      text-align:center;
    }
  }
  .first{
    font-weight: bold;
    border: solid 2px;
    background-color: $table_bg_color0;
    text-align: center;
  }
  .left{
    width:120px;
  }  

  .form_table{
    border:solid 2px;
    width:50%;
    &:nth-child(2n){
      background-color: $table_bg_color1;
    }  
    &:nth-child(2n+1){
      background-color: $table_bg_color2;
    }
    tr{
      border:solid 1px;
    }
    td{
      text-align: left;
    }
  }
}
