// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.requests {
  // Add the requests class to your body tag
  // Then, place scoped styles here.

  .index_table_first{

  }
  h1{
    text-decoration: underline;
  }

  h4{
    padding: 5px;
    text-decoration:underline;
  }
  .kopf{
    font-weight: bold
  }
  td{
    vertical-align:top;
    padding: 5px;
  }
  tr{
    padding: 10px;
  }
  th{
    padding: 10px;
  }

  .left{
    font-weight: bold;
  }

  .index_table{
  }
}
