// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
body.users {
  // Place scoped styles here
  #main{
    .form_arround_left{

    }
    .other-site {
      width: 50%;
    }
    .left{
      width: 65%;
    }
  
   .form_tables{

    }
 
  
    .form_tables_right{
      text-align: left;
    }
  
    .form_tables_left{
      width: 200px;
    }
  
    #box{
      background-image: url(../images/user/rahmen8.jpg);
      background-size: 350px 360px;
      background-position: center;
      padding: 30px;
    }
  }

  .form_arround{
  }
}
