<p>Hallo <%= @resource.email %>!</p>

<p>Jemand hat die Änderung des Passwortes angefordert. Mit einem 'klick' auf den unten stehenden Link kannst du Änderungen vornemen.</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Wenn du diese eMail nicht angefordert hast. Ignoriere diese Nachricht</p>
<p>Dein Passwort bleibt unverändert solage du diese Seite ignorierst und nicht auf den Link klickst.</p>
